doctype html

<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en">
<![endif]-->

<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

head
	meta( charset="utf-8" )
	meta( http-equiv="x-ua-compatible", content="ie=edge" )
	title #{pagetitle} | Company Name
	meta( name="description", content=pagedesc )
	meta( name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" )
	
	link( rel="apple-touch-icon", href="apple-touch-icon.png" )
	<!-- Place favicon.ico in the root directory -->
	
	link( rel="stylesheet", href=folder + "assets/css/plugins.min.css" )
	link( rel="stylesheet", href=folder + "assets/css/style.min.css" )
	
<body class="#{pagename}">

<!--  ==============  -->
<!--  === Header ===  -->
<!--  ==============  -->
header
	.container
		.row
			